<div class="abnt">
  <b>PARTES DA ABNT/NBR</b><br /><br />
  A ABNT/NBR 14653 é constituída pelas seguintes partes, sob o título geral "Avaliações de
  Bens”.<br /><br />
  Parte 1: Procedimentos gerais;<br />
  Parte 2: Imóveis urbanos;<br />
  Parte 3: Imóveis rurais;<br />
  Parte 4: Empreendimentos;<br />
  Parte 5: Máquinas,equipamentos, instalaçõesdebens industriais em geral;<br />
  Parte 6: Recursos naturais e ambientais;<br />
  Parte 7: Patrimônio histórico.<br /><br />
  A NBR 14653-1 desempenha o papel de guia, indicando os procedimentos gerais
  para as demais partes e, seguindo as orientações da Resolução COFECI 1.066/07,
  foi tomada em consideração em conjunto com a NBR 14653-2, NBR 14653-3 e NBR 146534.
</div>
