<div class="about">
  O <b>PTAM</b>, como o próprio nome informa, é um parecer técnico, realizado por
  profissionais, devidamente registrados no COFECI (Conselho Federal de Corretores de Imóveis) e
  no CNAI (Cadastro Nacional dos Avaliadores Imobiliários) e trata-se de um trabalho profissional,
  legal e reconhecido.<br /><br />

  <div class="competence">
    <b>DA COMPETÊNCIA</b><br /><br />
    Este parecer está em conformidade com a Lei 6530, de 12 de maio de 1978 (D.O.U. de
    15/05/1978), que regulamenta a profissão de Corretor de Imóveis, em atenção ao disposto
    em seu artigo 3º, o qual versa que “Compete ao Corretor de Imóveis exercer a intermediação
    na compra, venda, permuta e locação de imóveis, podendo, ainda, opinar quanto à
    comercialização imobiliária”.
    Em adição, a elaboração deste parecer respeita a Resoluções do COFECI - Conselho Federal de
    Corretores de Imóveis nº 1066, de 22 de novembro de 2007 (D.O.U. de 29/11/2007), que
    estabelece nova regulamentação para a elaboração de Parecer Técnico de Avaliação
    Mercadológica, em atenção ao seu artigo 4º, o qual versa que “Entende-se por Parecer
    Técnico de Avaliação Mercadológica – PTAM - o documento elaborado por Corretor de
    Imóveis no qual é apresentada, com base em critérios técnicos, análise de mercado com
    vistas à determinação do valor de comercialização de um imóvel, judicial ou extrajudicialmente”,
    e artigos sucessivos, os quais apresentam os requisitos do PTAM, destacando-se o artigo 6º,
    o qual versa que “A elaboração de Parecer Técnico de Avaliação Mercadológica
    é permitida a todo Corretor de Imóveis, pessoa física, regularmente inscrito em Conselho
    Regional de Corretores de Imóveis”.
  </div>
</div>
