<div class="table1-container">

  <div class="tab-ross-heidecke">
    <img src="../../../../assets/images/tabelas/tab-ross-heidecke.png" alt="Tabela Ross-Heidecke" class="tabross">
  </div>

  <div class="tab-vida-util">
    <img src="../../../../assets/images/tabelas/tab-vida-util.png" alt="Tabela Vida Util" class="tabvida">
  </div>

  <div class="tab-estado-conservacao">
    <img src="../../../../assets/images/tabelas/tab-estado-conservacao.png" alt="Tabela Estado de Conservação"
      class="tabestado">
  </div>

</div>

<div class="table2-container">

  <div class="tab-fatores-corretivos">
    <img src="../../../../assets/images/tabelas/tab-fatores-corretivos.png" alt="Tabela Fatores Corretivos"
      class="tabfatores">
  </div>

</div>
