<div class="abrev">
  <b>ABREVIATURAS</b><br /><br />
  <b>ATT</b> - Área Total do Terreno<br />
  <b>ATC</b> - Área Total Construída<br />
  <b>AC</b> - Idade Aparente da Construção<br />
  <b>ABNT</b> - Associação Brasileira de Normas<br />
  <b>Art</b> - Artigo<br />
  <b>AT</b> - Área do Terreno<br />
  <b>CM2</b> - Custo por Metro Quadrado<br />
  <b>CNAI</b> - Cadastro Nacional de Avaliadores Imobiliários<br />
  <b>CRECI-SP</b> - Conselho Regional de Corretores de Imóveis de São Paulo<br />
  <b>DTC</b> - Depreciação por Tempo de Construção<br />
  <b>IA</b> - Imóvel em Avaliação<br />
  <b>IPTU</b> - Imposto Predial, Territorial e Urbano<br />
  <b>M2</b> - Metro Quadrado<br />
  <b>MG</b> - Média Geral<br />
  <b>NBR</b> - Normas Brasileiras<br />
  <b>PTAM</b> - Parecer Técnico de Avaliação Mercadológica<br />
  <b>R</b> - Referenciais<br />
  <b>RFD</b> - Resultado do Fator de Depreciação<br />
  <b>TG</b> - Total Geral<br />
  <b>VGV ou VGL</b> - Valor Global da Venda ou Locação<br />
  <b>VL</b> - Valor da Locação<br />
  <b>VM</b> - Valor Médio<br />
  <b>VV</b> - Valor de Venda<br />
</div>
